// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: 'Montserrat', sans-serif
  font-weight: normal
  font-size: 16px
  color: #122759

h1
  font-weight: 800
  font-size: 40px
  line-height: 50px


h2
  font-weight: 800
  font-size: 40px
  line-height: 50px


h3
  font-weight: bold
  font-size: 20px
  line-height: 24px


h4
  font-size: 14px
  line-height: 20px
  text-transform: uppercase
  font-weight: bold

h5
  font-size: 12px
  line-height: 20px
  text-transform: uppercase

a
  color: #000
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


  
.content
  min-height: calc(100vh - 189px)
  background: url(../img/inner-bg.png) no-repeat center top
  background-size: cover
  background-color: #FCFCFC


.container
  max-width: 1920px
  width: auto
  margin: 0 auto
  padding-left: 175px
  padding-right: 175px

  &-inner
    max-width: 1200px
    padding-left: 15px
    padding-right: 15px


.justify-align
  display: flex
  justify-content: space-between
  align-items: center

.left-align
  display: flex


.right-align
  display: flex
  justify-content: flex-end

.center-align
  display: flex
  justify-content: center
  align-items: center


.flex
  display: flex
  flex-wrap: wrap




*::-webkit-input-placeholder 
  color: #000
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease

*:-moz-placeholder 
  color: #000
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*::-moz-placeholder 
  color: #000
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*:-ms-input-placeholder 
  color: #000
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease