@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff"), url('../fonts/Montserrat/Montserrat-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format("woff"), url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format("truetype")
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Regular.woff') format("woff"), url('../fonts/Montserrat/Montserrat-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Medium.woff') format("woff"), url('../fonts/Montserrat/Montserrat-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format("woff"), url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format("truetype")
  font-weight: 600
  font-style: italic

@font-face
  font-family: 'SportsWorld'
  src: url('../fonts/SportsWorld/SportsWorld.woff2') format("woff2"), url('../fonts/SportsWorld/SportsWorld.woff') format("woff"), url('../fonts/SportsWorld/SportsWorld.ttf') format("truetype")
  font-weight: normal
  font-style: normal



@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?gjdnzi')
  src: url('../fonts/icomoon/icomoon.eot?gjdnzi#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?gjdnzi') format("truetype"), url('../fonts/icomoon/icomoon.woff?gjdnzi') format("woff"), url('../fonts/icomoon/icomoon.svg?gjdnzi#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]

  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.icon-cup:before
  content: "\e903"

.icon-instagram:before
  content: "\e900"

.icon-vk:before
  content: "\e901"

.icon-facebook:before
  content: "\e902"