@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------




.header
	padding-right: 175px
	background: #122759
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.16)


	&-tel
		font-size: 30px
		color: #fff

		&:hover, &:focus
			color: #fff

		span
			padding-right: 10px



.logo
	position: relative
	display: inline-block
	padding-left: 175px

	&::before
		content: ''
		position: absolute
		right: 100px
		width: 1000px
		height: 100%
		background: #fff

	&:hover, &:focus
		opacity: 1

	img
		position: relative
		display: block



	
.main-menu

	>ul
		list-style: none

		>li
			display: inline-block
			padding: 0 16px

			&:first-child
				padding-left: 0

			&:last-child
				padding-right: 0

			>a
				display: inline-block
				padding: 5px 15px
				font-size: 16px
				line-height: 24px
				font-weight: bold
				text-transform: uppercase
				color: #fff

				&.active
					position: relative
					color: $blue
					transform: skew(-15deg)
					background: #fff
					border-radius: 1px

					>span
						display: inline-block
						transform: skew(15deg)


					&:before
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: 0
						height: 2px
						width: 100%
						background: #fff



.home
	background: url(../img/home-bg.png) no-repeat center top
	background-size: cover

	.header
		background: rgba(8, 21, 55, 0.6)



	&-title
		height: 100%
		display: flex
		align-items: center
		justify-content: flex-end

		h1
			max-width: 610px
			font-size: 60px
			line-height: 70px
			color: #fff
			font-family: 'SportsWorld'

	.main-menu

		>ul

			>li

				>a
					transform: skew(0)
					color: #6285D8

					span
						transform: skew(0)

					&.active
						opacity: 1
						color: #fff
						background: transparent

						&::before
							display: none

					&:hover
						color: #fff



	.content
		min-height: calc(100vh - 187px)
		display: flex
		align-items: center
		justify-content: flex-end
		padding: 0 175px
		background: transparent


	.soc-btn
		text-align: right

		li
			a
				color: #fff

		&__hash
			color: #fff


	.footer
		padding: 0 0 30px
		background: transparent

.btn
	position: relative
	display: inline-block
	padding: 15px 40px 15px
	font-weight: 600
	font-style: italic
	font-size: 14px
	line-height: 18px
	background: linear-gradient(180deg, #E4690E 0%, #DC1616 100%)
	border: none
	border-bottom: 4px solid #801116
	border-radius: 2px
	color: #fff
	text-align: center
	outline: none
	transform: skew(-15deg)

	>span
		display: block
		transform: skew(15deg)

	&::before
		content: ''
		width: 0
		transition: all .5s

	&:focus, &:hover
		outline: none
		opacity: 1
		color: #fff

		&::before
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			width: 100%
			background: linear-gradient(270deg, #FFFFFF -2.19%, rgba(255, 255, 255, 0) 95.18%)
			opacity: 0.3


	&-white
		background: linear-gradient(180deg, #FCFCFC 0%, #F2F6FB 100%)
		color: $blue
		border: none

		&:hover, &:focus
			color: $blue	

	
.soc-btn

	ul
		display: inline-block
		list-style: none

		li
			display: inline-block
			margin-left: 15px
			vertical-align: middle

			&:first-child
				margin-left: 0

			a
				display: flex
				align-items: center
				justify-content: center
				width: 40px
				height: 40px
				border-radius: 2px
				border: 2px dashed
				font-size: 18px
				color: $blue


				.icon-instagram
					font-size: 20px

				.icon-vk
					font-size: 14px

	&__hash
		display: block
		margin-top: 10px
		font-weight: 800
		font-size: 16px
		line-height: 20px
		color: $blue








.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #fff
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)



.section
	padding: 90px 0 120px

	&+section
		padding-top: 0

	h1,h2, h3
		margin-bottom: 40px



	>p
		margin-bottom: 25px
		font-size: 16px
		line-height: 32px

		&:last-of-type
			margin-bottom: 0

	ul
		padding-left: 15px
		list-style: none

		li
			font-size: 16px
			line-height: 32px


.clients
	display: flex
	flex-wrap: wrap
	backdrop-filter: blur(16px)

	&-item
		height: 293px
		width: 25%
		display: flex
		align-items: center
		justify-content: center
		background: rgba(255, 255, 255, 0.6)
		border: 1px solid #F2F6FB
		

		>a
			display: block

			&:hover
				opacity: 1

		img
			display: block
			max-width: 143px
			max-height: 143px
			filter: grayscale(100%)
			transition: .3s

		&:hover
			img
				filter: grayscale(0)



.reviews
	display: flex
	flex-wrap: wrap
	margin-left: -15px
	margin-right: -15px

	&-item
		width: 20%
		padding-left: 15px
		padding-right: 15px
		margin-bottom: 30px


.footer
	padding: 30px 0
	background: $blue
	color: #fff

	&-wrap

	&-item

		&__contacts

			a
				display: block
				margin-bottom: 6px
				font-size: 14px
				line-height: 18px
				font-weight: 500
				color: #fff

				&:last-child
					margin-bottom: 0
					font-weight: normal


		&__copyright
			text-align: center

			>span
				display: block
				text-transform: uppercase
				font-size: 14px
				line-height: 16px

		&__dev
			>span
				display: block
				margin-bottom: 6px
				font-size: 10px


		&__address
			font-size: 14px
			line-height: 18px
			text-align: right



.events
	padding-bottom: 0

	h2
		margin-bottom: 10px
		text-align: center

	p
		max-width: 970px
		margin: 0 auto
		text-align: center

	&-wrap
		display: flex
		flex-wrap: wrap
		margin-top: 40px

	&-item
		position: relative
		display: block
		height: 270px
		padding: 120px 30px 30px
		margin-bottom: 90px
		background: $blue
		border-radius: 2px
		color: #fff

		&:hover, &:focus
			opacity: 1
			background: linear-gradient(180deg, #E4690E 0%, #DC1616 100%)
			box-shadow: 0px 20px 70px rgba(239, 28, 35, 0.6)
			border-radius: 6px
			color: #fff
			transform: scale(1.1)

			g, path
				fill: #ffffff

		>img, svg
			position: absolute
			top: 0px
			right: 15px
			max-width: 115px
			max-height: 115px
			

		g, path
			transition: all .3s


		>strong
			display: block
			margin-bottom: 10px
			font-family: "SportsWorld"
			font-size: 20px
			line-height: 30px
			text-transform: uppercase

		>span
			font-size: 12px
			line-height: 20px
			color: #D6D5F1


.tournaments
	display: flex
	flex-wrap: wrap
	margin-left: -15px
	margin-right: -15px
	
	&-item
		width: 10.6%
		margin-bottom: 60px
		margin-left: 15px
		margin-right: 15px

		&__icon
			width: 80px
			height: 80px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 10px
			background: #282761
			border-radius: 3px
			transition: all .3s

		>span
			font-weight: 800
			line-height: 20px

		&:hover
			opacity: 1


			.tournaments-item__icon
				background: linear-gradient(180deg, #E4690E 0%, #DC1616 100%)
				box-shadow: 0px 10px 35px rgba(239, 28, 35, 0.3)
				border-radius: 3px

			>span
				transition: all .3s
				color: #E30016



.equipment
	margin: 40px 0 20px

	&-item
		position: relative

		&__overlay
			opacity: 0
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
			background: rgba(0, 0, 0, 0.4)
			backdrop-filter: blur(16px)
			transition: all .3s

			.btn
				position: relative
				z-index: 10

		&:hover
			.equipment-item__overlay
				opacity: 1

	&-btn
		display: flex
		align-items: center
		margin-top: 40px

		.btn
			margin-right: 50px


.row-flex
	display: flex
	flex-wrap: wrap
		
.news

	&-filters
		margin-bottom: 60px

		&__item

			h4
				margin-bottom: 12px

	&-item
		margin-bottom: 60px

		&__top
			height: 28px
			padding-bottom: 8px

			img
				max-height: 100%


		&__img
			display: inline-block
			margin-bottom: 15px

		p
			text-transform: uppercase
			font-size: 12px
			line-height: 20px

			a
				&:hover
					color: #E30016
					opacity: 1

	&-slider
		margin-left: -15px
		margin-right: -15px

		&__item
			margin-left: 15px
			margin-right: 15px
			background: #fcfcfc
			z-index: 10

			p
				text-transform: none

		.slick-list
			padding-right: 120px

.slick-arrow
	width: 40px
	height: 40px
	top: 45%

	&:hover
		opacity: 1

	&::before
		content: ''
		display: block
		width: 40px
		height: 40px
		opacity: 1
		transition: all .3s

.slick-prev
	left: -55px

	&::before
		background-image: url(../img/prev.svg)
		background-repeat: no-repeat
		background-position: center

	&:hover
		&::before
			background-color: #F2F6FB


.slick-next
	right: -55px

	&::before
		background-image: url(../img/next.svg)
		background-repeat: no-repeat
		background-position: center

	&:hover
		&::before
			background-color: #F2F6FB





.jq-selectbox
	width: 100%
		

	.jq-selectbox__select
		

	.jq-selectbox__select-text
		position: relative
		padding: 15px 30px 13px 20px
		width: 100%
		background: linear-gradient(180deg, #FCFCFC 0%, #F2F6FB 100%)
		border: 1px solid #68717E
		border-radius: 2px
		font-size: 16px
		line-height: 20px


		&::after
			content: ''
			position: absolute
			right: 20px
			top: 23px
			display: block
			background-image: url(../img/dropdown-toggle.svg)
			background-repeat: no-repeat
			width: 10px
			height: 6px

	&.opened
		.jq-selectbox__select-text
			&::after
				transform: rotate(180deg)

	.jq-selectbox__dropdown 
		top: 50px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		background: #fff


		ul
			max-height: 145px !important
			padding: 10px 0
			background: #fff
			list-style: none
			border: 1px solid #68717E
			border-top: none
			li
				padding: 10px 20px
				font-size: 16px
				line-height: 19px
				transition: all .3s

				&:hover
					background: #F2F6FB
					font-weight: 600


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
				background-color: #F5F5F5


			&::-webkit-scrollbar
				width: 10px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
				background: linear-gradient(180deg, #E4690E 0%, #DC1616 100%)



.event
	background: url(../img/event-bg.png) no-repeat
	background-size: cover

	h1
		margin-bottom: 60px
		font-size: 60px
		line-height: 70px
		text-transform: uppercase
		text-align: center
		font-weight: bold

	>img
		display: block
		margin: 0 auto 120px

	&-info
		padding-bottom: 120px
		margin-bottom: 120px
		border-bottom: 1px solid #DEDFDF

		h4
			margin-bottom: 40px
			font-size: 20px
			line-height: 30px
			text-transform: uppercase
			font-family: SportsWorld
			font-weight: normal

		p
			margin-bottom: 15px
			line-height: 32px

		&__site
			position: relative
			display: inline-block
			padding: 0 0 0 24px
			color: $blue

			&::before
				content: ''
				position: absolute
				left: 0
				top: 3px
				width: 16px
				height: 16px
				background: url(../img/link.svg)

			>span
				text-decoration: underline

	&-report
		padding-bottom: 120px
		margin-bottom: 120px
		border-bottom: 1px solid #DEDFDF


		p
			margin-bottom: 25px
			line-height: 32px

	&-photo


		.row
			margin-left: -11px
			margin-right: -11px

			[class^="col"]
				padding-left: 11px
				padding-right: 11px

		&__item
			position: relative
			display: inline-block
			margin-bottom: 22px

			img
				display: block

			&--overlay
				opacity: 0
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				display: flex
				align-items: center
				justify-content: center
				background: rgba(0, 0, 0, 0.4)
				backdrop-filter: blur(16px)
				transition: all .3s

				.btn
					position: relative
					z-index: 10

			&:hover
				.event-photo__item--overlay
					opacity: 1


.partners

	&-top
		margin-bottom: 60px

		.jq-selectbox
			max-width: 370px

		h1
			margin-bottom: 0


.contacts
	padding-left: 15px
	padding-right: 15px


	&-map
		height: 100%
		
	&-info
		padding: 90px 0 60px

		h5
			margin-bottom: 8px

		&__tel, strong
			font-weight: bold
			font-size: 20px
			line-height: 24px

		&__mail
			line-height: 32px
			text-decoration: underline
			color: $blue

	&-form
		padding-bottom: 60px
		h3
			margin-bottom: 25px

		&__bottom
			display: flex
			align-items: center
			margin-top: 25px

			.agreement
				max-width: 400px
				padding: 0 0 0 25px
				font-size: 14px
				line-height: 18px
				
				a
					color: $blue
					text-decoration: underline
	.soc-btn
		padding-bottom: 120px
		

#googleMap
	width: 100%
	height: 100%
	min-height: 500px


.form

	&-item
		width: 100%
		height: 50px
		margin-bottom: 25px
		padding: 0 15px
		background: linear-gradient(180deg, #FCFCFC 0%, #F2F6FB 100%)
		border: 1px solid #122759
		border-radius: 2px

		&:last-child
			margin-bottom: 0

	textarea
		height: 100%
		padding: 15px


.page-404
	display: flex
	align-items: center
	justify-content: center
	min-height: calc(100vh - 189px)
	background: url(../img/404-bg.jpg) no-repeat center
	background-size: cover

	&__content
		padding-bottom: 100px
		text-align: center
		h2
			margin-bottom: 20px
			color: #fff


.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #fff
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)
















@media only screen and (max-width: 1919px)
	.header
		padding-right: 50px

	.logo
		padding-left: 50px

	.container
		padding-left: 50px
		padding-right: 50px

	.home-title
		h1
			font-size: 50px
			line-height: 60px

	.home
		.content
			padding: 0 50px

	.header-tel
		font-size: 26px

	.main-menu>ul>
		li
			padding: 0 10px
			>a
				font-size: 14px


	.section
		padding: 60px 0 90px


		&.events
			padding-bottom: 30px

	.events-item svg, .events-item>img
		max-width: 110px
		max-height: 110px

	
	.events-item
		padding: 110px 30px 30px
		margin-bottom: 60px

		>strong
			font-size: 18px
			line-height: 26px

		>span
			line-height: 18px

	.tournaments-item
		width: 10%

	.event
		h1
			font-size: 52px
			line-height: 60px

	.partners-top h1
		font-size: 34px

	.contacts-info
		padding: 60px 0

	.contacts-info strong, .contacts-info__tel
		font-size: 18px







@media only screen and (max-width: 1365px)
	.header
		padding-right: 30px

	.logo
		padding-left: 30px

	.container
		padding-left: 30px
		padding-right: 30px


	.header-tel
		font-size: 24px

	.main-menu>ul>
		li
			>a
				font-size: 13px

	.home-title
		h1
			font-size: 4vw
			line-height: 5vw
			text-align: right


	.section

		h1, h2, h3
			margin-bottom: 30px


	.news-filters
		margin-bottom: 40px

	.news-slider
		padding-left: 75px
		padding-right: 75px

	.slick-prev
		left: 0

	.slick-next
		right: 0


	.event
		>img
			margin: 0 auto 60px

	.event-info, .event-report
		padding-bottom: 60px
		margin-bottom: 60px


	.partners-top
		h1
			margin-bottom: 0














@media only screen and (max-width: 1199px)

	.burger-menu
		display: block

	.main-menu, .home .main-menu
		display: none
		position: absolute
		left: 0
		right: 0
		top: 87px
		background: #fff
		z-index: 999

		ul
			padding: 10px 0

			>li
				display: block
				padding: 0
				text-align: center

				>a
					color: $blue

					&.active
						color: #E30016

	.tournaments
		justify-content: center

	.tournaments-item
		width: 116px

	h1
		font-size: 30px
		line-height: 40px
		text-align: center

	.tournaments-item
		margin-bottom: 40px
		text-align: center

		&__icon
			margin: 0 auto 10px

	.equipment-item__overlay
		.btn
			padding: 15px 30px 15px

	.partners-top
		display: block
		margin-bottom: 30px

		h1
			margin-bottom: 30px














@media only screen and (max-width: 991px)
	
	.header
		padding-right: 15px

	.logo
		padding-left: 15px

	.container
		padding-left: 15px
		padding-right: 15px

	.home .content
		padding: 0 75px


	.section
		padding: 30px 0 60px

	h2
		font-size: 30px
		line-height: 40px

	.clients-item
		width: 33.3333%

	.reviews-item
		width: 25%

	.events-item
		margin-bottom: 30px

	.equipment-item
		margin-bottom: 30px


	.event
		>img
			margin: 0 auto 40px

		h1
			font-size: 36px
			line-height: 46px

	.event-info, .event-report
		padding-bottom: 40px
		margin-bottom: 40px

	
	.event-info
		p
			margin-bottom: 5px
		h4
			margin-bottom: 15px


	.event-info__client
		margin-bottom: 20px


	.partners-top h1
		font-size: 26px
		line-height: 36px


	.contacts
		>.row-flex
			display: flex
			flex-direction: column-reverse


	.contacts .soc-btn
		padding-bottom: 60px



























@media only screen and (max-width: 769px)
	a.logo 
		max-width: 160px

	.home
		background: url(../img/home-bg-mobile.png) no-repeat 30% top
		background-size: cover

	.home .content
		align-items: flex-end
		min-height: calc(100vh - 152px)

	.main-menu, .home .main-menu
		top: 52px


	.home-title h1
		text-align: right
		padding-bottom: 20px


	.section>p
		line-height: 26px


	.clients-item
		width: 50%
		height: 180px
		padding: 20px

		img
			max-width: 100%
			max-height: 100%

	.reviews-item
		width: 50%

	.footer-wrap
		display: block
		text-align: center

	.footer-item__address
		text-align: center

	.footer-item
		margin-bottom: 10px

		&:last-child
			margin-bottom: 0

	.events-wrap
		display: block

	.events-item:focus, .events-item:hover
		transform: scale(1)

	.equipment
		text-align: center

		.equipment-item
			display: inline-block

	.equipment-btn
		display: block
		margin-top: 0
		text-align: center

		.btn
			margin: 0 0 20px

	.news-item
		max-width: 370px
		margin: 0 auto 30px

	.row-flex
		display: block


	.news-filters__item
		margin-bottom: 10px

		h4
			margin-bottom: 6px
			font-size: 12px

	.news-slider
		max-width: 660px
		margin: 0 auto

		.slick-list
			padding-right: 0

	.news-item__top
		max-width: 234px


	.news-slider
		padding-left: 60px
		padding-right: 60px
		margin-bottom: 20px

	
	h3
		text-align: center

	.jq-selectbox .jq-selectbox__select-text
		padding: 10px 30px 7px 20px
		font-size: 14px

		&::after
			top: 17px

	.jq-selectbox .jq-selectbox__dropdown
		top: 39px!important

		ul
			li
				padding: 5px 20px
				font-size: 14px
				line-height: 17px

	.contacts
		textarea.form-item
			height: 200px
			margin-top: 25px

		













@media only screen and (max-width: 479px)
	.home-title h1 
		font-size: 6vw
		line-height: 8vw

	.home .content
		padding: 0px 30px

	a.logo
		max-width: 120px

	.header-tel
		font-size: 14px

	.home .main-menu, .main-menu
		top: 37px

	.burger-menu
		width: 24px

	.soc-btn ul li a
		width: 30px
		height: 30px
		font-size: 12px

		.icon-instagram
			font-size: 14px

		.icon-vk
			font-size: 11px

	.soc-btn__hash
		font-size: 14px

	.home .content
		min-height: calc(100vh - 110px)

	.home .footer
		padding: 0 0 14px


	.section
		padding: 30px 0
		>p
			margin-bottom: 15px
			font-size: 14px
			line-height: 22px
	
	h2
		font-size: 26px
		line-height: 36px



	.tournaments-item
		width: 76px

		>span
			font-size: 14px

	.news-slider
		padding-left: 50px
		padding-right: 50px

	.event h1
		font-size: 22px
		line-height: 30px

	.event-info h4
		font-size: 16px

	.event-photo
		overflow: hidden

		.btn
			padding: 5px 10px
			font-size: 10px
			transform: skew(0)

			>span
				transform: skew(0)

	.contacts-form__bottom
		display: block

		.agreement
			padding: 20px 0 0


	.contacts-info strong, .contacts-info__tel
		font-size: 16px

	.contacts-info
		padding: 40px 0